.tw-followCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: .8rem;
}

.tw-followCard-header {
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-followCard-header-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.tw-followCard-info{
    display: flex;
    flex-direction: column;
}

.tw-followCard-infouserName {
    color: #999;
}

.tw-followCard-button {
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    cursor: pointer;
}
.tw-followCard-button.is-following {
    border: 4px solid #49e;
    background: rgb(203, 229, 255);
}
.tw-followCard-button.stop-following {
    color: #f00;
}
.tw-followCard-button:hover {
    background: #2c7bf1;
    transition: .3s ease background;
}

